<!DOCTYPE html>
<html>
  <head> <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- the name appears on the browsers' tab -->
    <title>BrainBoost</title>

    <!-- link the css file -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <!-- to change the favicon on the browsers' tab -->
    <link rel="icon" type="image/x-icon" sizes="64x64" href="{{url_for('static', filename='favicon.ico')}}">


    <!-- to use the font family outfit -->
    <link
      href="https://fonts.googleapis.com/css?family=Outfit"
      rel="stylesheet"
    />
    <!-- to use the eye icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- the navigation bar -->
    <div class="nav-bar-background">
      <div class="logo-container">
         <img id="brainboost-logo" alt="BrainBoost logo" src="{{url_for('static', filename='brainboostlogo.png')}}"  />
         
        <p class="brainboost-navbar" id="rainboost-navbar">rainBoost</p>
      </div>
    </div>
    <!-- the center content -->
    <div class="center-background">
      <p id="welcome">Reset password</p>
      <p class="header-msg-reset">
          Enter your email address and we'll send you a link to reset your
          password
        </p>
        

      <form action="#" class="signup" id="resetForm">
        <div id="User-name-field">
          <div class="textOnInput">
            <label for="inputText">Enter Your Email</label>
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="HAS_233@Domain.com"
              required=""
            />
          </div>
        </div>

        <div id="password-field">
          <div class="textOnInput">
            <label for="inputText">Enter Your Password</label>
            <input
              id="password1"
              class="form-control"
              type="password"
              placeholder="***********"
              required=""
            />
            <span><i id="toggler" class="far fa-eye"></i></span>
          </div>
        </div>

        <input type="submit" value="RESET PASSWORD" id="signupbutton" />
      </form>
      <div class="reset-message" id="reset-message"></div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
      var password = document.getElementById("password1");
      var toggler = document.getElementById("toggler");
      showHidePassword = () => {
        if (password.type == "password") {
          password.setAttribute("type", "text");
          toggler.classList.add("fa-eye-slash");
        } else {
          toggler.classList.remove("fa-eye-slash");
          password.setAttribute("type", "password");
        }
      };
      toggler.addEventListener("click", showHidePassword);

      const resetForm = document.getElementById("resetForm");
      const messageDiv = document.getElementById("reset-message");

      resetForm.addEventListener("submit", (e) => {
        e.preventDefault();

        const formData = new FormData(resetForm);
        const email = formData.get("email");
        const password = formData.get("password1");

        // Simulate sending a reset email
        setTimeout(() => {
          messageDiv.textContent = `Reset email sent to ${email}.`; //the email is null .. have no clue y
        }, 1000);
      });
    </script>
  </body>
</html>
